<!DOCTYPE html>
<head>
	<title> Mt First Page </title>
	<link href="static/style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<h1> Code Lab SignUp Form </h1>
	
	<div id="myForm">
		Email <br/>
		<input type="text" name="name" placeholder="Email"> <br/><br/>
		
		
		Password <br/>
		<input type = "password" name="password" placeholder="Password"><br/><br />
		
		<input id="submit" type="submit" name="submit" value="Submit"> <br /> <br />
		
		 Accept <a href="#">terms</a> and <a href="#"> conditions.</a>
	</div>
</body>
